
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!--内页详情开始-->
<div class="n_Main">
	<div class="n_left">
		<div class="n_title">
			<h3>关于我们</h3>
			<p>ABOUT US</p>
		</div>
		<ul>
			<li><a href="#">公司简介</a></li>
			<li><a href="#">文化理念</a></li>
			<li><a href="#">领导致辞</a></li>
		</ul>
		<div class="QQline">
			<a href="#"><img src="images/online.jpg" /></a>
		</div>
		<div class="map">
			<a href="#"><img src="images/n_map.jpg" /></a>
		</div>
		<div class="n_contact">
			<img src="images/n_contact.jpg" />
			联系电话：	0816-8888888<br/>
			　　传真：	0816-8888888<br/>
			电子邮箱：	123456789@qq.com<br/>
			　　邮编：	621000<br/>
			公司地址：	绵阳市三江工业园<br/>
			企业网址：	www.xakj888.com<br/>
		</div>
	</div>
	
	<div class="n_right">
		<div class="location">
			当前所在位置：首页 >> 关于我们 >> 公司简介
			<div class="n_phone">联系电话:13458000000</div>
		</div>
		<div class="n_centent">
				<img src="images/about.jpg"/><br /><br />
			　　校傲科技有限公司总部位于四川成都，现于绵阳、成都、南充均有分公司与办事处。公司是全国领先的O2O平台，经营数码产品、信用借款、旅游业务、驾校报名、食品团购、兼职换购、交友平台、生活周边等类目，我们团队一直坚持货正品、费率低、服务好、售后有保障的经营理念。<br/><br/>
			　　公司在2013年以尚宏科技切入高校市场，于2016年更名校傲科技，逐步将公司打造成服务大学生的校园O2O平台，相继通过投资入股、众筹与校园合伙人的方式展开各类项目的融资。<br/><br/>
			　　在高速发展过程中，公司长期组织兼职人员的交流培训、户外活动等，赢得了更多大学生认可，与其同时我们也在于各大学院合作，以诚信商家赞助的方式进驻学院，招聘愿意创业的大学生，得到了多个学院领导的好评。<br/>
		</div>
	</div>
</div>
<!--内页详情结束-->

